* {
    margin: 0;
    padding: 0;
}

.box_div {
    position: relative;
}

.box {
    position: absolute;
    width: 100px;
    height: 100px;
    outline: auto;
    background-color: rgb(255, 0, 0);
}


.box:nth-child(1) {
    top: 0;
    left: 0;
    z-index: 1;
}

.box:nth-child(2) {
    top: 25px;
    left: 25px;
    z-index: 2;
    background: rgb(0, 128, 0);
}

.box:nth-child(3) {
    top: 50px;
    left: 50px;
    z-index: 1;
    background: rgb(9, 0, 128);
}
